<html>

<body>

  <div class="bg-image"></div>

  <div class="hero-texts">

    <h1 id="hero-text"
      class="mt-24 font-bold lg:text-5xl md:text-5xl sm:text-4xl text-3xl">
      TRAVEL IN
      <span class="purple-text">COMFORT</span> AND <span class="purple-text">CHEAPER</span>
    </h1>
    <h1 id="hero-text2"
      class="pt-4 font-bold lg:text-5xl md:text-5xl sm:text-3xl text-2xl">
      Search your route today!
    </h1>
  </div>

  <div class="main-content ">
    <div class="mb-10 sm:mb-0">
      <div class="md:grid  md:gap-6 flex justify-center ">
        <form #myForm="ngForm" class=" form-box sm:w-auto">
          <div class="shadow-make overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-main sm:p-6 rounded-md">

              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4 sm:pl-4">

                <div class="col-span-5 sm:col-span-2 lg:col-span-1 sm:mt-4">
                  <mat-form-field hideRequiredMarker class="example-full-width w-full sm:w-48" appearance="fill">
                    <mat-label>From...</mat-label>
                    <mat-icon matPrefix class="icon">travel_explore</mat-icon>
                    <input #searchBox (input)="search(searchBox.value)" type="text" placeholder="City"
                      aria-label="Departure" matInput [formControl]="departureControl"
                      [matAutocomplete]="autoDepartures">
                    <mat-autocomplete #autoDepartures="matAutocomplete">
                      <mat-option *ngIf="loadingD">
                        <mat-spinner diameter="22"></mat-spinner>
                      </mat-option>
                      <mat-option *ngFor="let city of cities$ | async" [value]="city.name" (click)="departureSubmit()">
                        {{city.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error class="text-xs" *ngIf="!departureClickControl.valid && departureControl.touched">Select
                      city
                      from options!</mat-error>
                  </mat-form-field>
                </div>


                <div class="col-span-5 sm:col-span-2 lg:col-span-1 sm:mt-4">
                  <mat-form-field hideRequiredMarker class="example-full-width w-full sm:w-48" appearance="fill">
                    <mat-label>To...</mat-label>
                    <mat-icon matPrefix class="icon">travel_explore</mat-icon>
                    <input #searchBox2 (input)="search2(searchBox2.value)" type="text" placeholder="City"
                      aria-label="Arrival" matInput [formControl]="arrivalControl" [matAutocomplete]="autoArrivals">
                    <mat-autocomplete #autoArrivals="matAutocomplete">
                      <mat-option *ngIf="loadingA">
                        <mat-spinner diameter="22"></mat-spinner>
                      </mat-option>
                      <mat-option *ngFor="let city of cities$2 | async" [value]="city.name" (click)="arrivalSubmit()">
                        {{city.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error class="text-xs" *ngIf="!arrivalClickControl.valid && arrivalControl.touched">Select city
                      from
                      options!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-span-5 sm:col-span-2 lg:col-span-1 sm:mt-4">
                  <mat-form-field hideRequiredMarker class="w-full sm:w-48" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [min]="date" [matDatepicker]="picker" name="date" [formControl]="dateControl">
                    <mat-datepicker-toggle matPrefix [for]="picker" class="icon">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <mat-error class="text-xs" *ngIf="!dateControl.valid && dateControl.touched">Use valid
                      date!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-span-5 sm:col-span-2 lg:col-span-1 sm:mt-4">
                  <mat-form-field hideRequiredMarker appearance="fill" class="w-full sm:w-48">
                    <mat-label>People</mat-label>
                    <mat-icon matPrefix class="icon">person</mat-icon>
                    <mat-select required [formControl]="seatsControl" name="number" #number>
                      <mat-option *ngFor="let number of numbers" [value]="number">
                        {{number}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="text-xs" *ngIf="!seatsControl.valid && seatsControl.touched">Select number of
                      people!</mat-error>
                  </mat-form-field>
                </div>

                <div class="mr-0 sm:mr-3 lg:mr-0 mt-6  text-center sm:px-6 col-span-5 sm:col-span-5 lg:col-span-1">
                  <button (click)="sendValuesToService()"
                    [disabled]="!departureClickControl.valid || !arrivalClickControl.valid || !dateControl.valid || !seatsControl.valid"
                    class="button inline-flex justify-center py-2 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white">Search
                  </button>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>


</body>

</html>

<app-card-search></app-card-search>